.position1 {
    position: relative;
}

.position1 p {
    margin: 0;
}

.child {
    position: relative;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 20px;
}

.child2 {
    position: absolute;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    top: 10px;
    left: 20px;
}

.child3 {
    position: fixed;
    background-color: lightblue;
    /* Chiều ngang vừa với nội dung */
    width: fit-content;
    height: 30px;
    /* Chỉnh vị trí */
    bottom: 10px;
    right: 10px;
}

/* CSS Flexbox */
.container {
    /* Flexbox */
    display: flex;
    background-color: lightpink;
    /* hướng sắp xếp phần tử */
    flex-direction: row;
    /* Hướng sắp xếp theo chiều ngang */
    justify-content: space-around;
    /* Sắp xếp theo chiều dọc */
    align-items: center;
    /* Xuống dòng khi hết chỗ */
    flex-wrap: wrap;
}

img{
    height: 200px;
}

#test {
    background-color: lightsalmon;
    width: 200px;
    height: 100px;
}

/* Responsive */
@media (max-width: 768px) {
    #test {
        background-color: limegreen;
    }
}