/* Google Fonts */
h2 {
    font-family: "Fruktur", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Form */
form input {
    margin-top: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

.gender {
    width: 50px;
}

#cb-label {
    width: fit-content;
}